<form class="form" [formGroup]="taskform" (ngSubmit)="submitTask()">
    <div class="inputs">
        <div class="inner">
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title"
                [ngClass]="{ 'invalidForm': isFieldTouched('title') && taskform.get('title')?.errors?.['required'] }">
        </div>
        <span *ngIf="isFieldTouched('title') && taskform.get('title')?.errors?.['required']">Title is required</span>
        <div class="inner">
            <label for="description">Description</label>
            <textarea type="text" id="description" formControlName="description"
                [ngClass]="{ 'invalidForm': isFieldTouched('description') && taskform.get('description')?.errors?.['required'] }"></textarea>
        </div>
        <span *ngIf="isFieldTouched('description') && taskform.get('description')?.errors?.['required']">Description is required</span>
    </div>
    <div class="btns">
        <button type="cancel" (click)="goToTask()">Cancel</button>
        <button type="submit">Submit</button>
    </div>
</form>